@model IEnumerable<TrabalhoPW.Models.Texts>

@{
    ViewBag.Title = "EditH";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>EditH</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Pagina)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Conteudo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Pagina)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Conteudo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TextID }) |
        </td>
    </tr>
}

</table>
