@model IEnumerable<TrabalhoPW.Models.Aluguer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <button class="btn btn-default" onclick="location.href='@Url.Action("Create")';return false;">Criar Novo</button>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Objeto.Tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Requerente.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataIncio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataFim)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Finalidade)
        </th>
        <th>
                Vald
        </th>
        <th>
            E. Inicial
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataEntrega)
        </th>
        <th>
            E. Final
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Relatorio)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Objeto.Tipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Requerente.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataIncio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataFim)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Finalidade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Validado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstadoI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataEntrega)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstadoF)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Relatorio)
        </td>
        <td>
            <button class="btn btn-default" onclick="location.href='@Url.Action("Details",new { id = item.AluguerID})';return false;">Detalhes</button>

            @if (User.IsInRole("Admin") || User.IsInRole("Especialista"))
            {
                <button class="btn btn-default" onclick="location.href='@Url.Action("Edit",new { id = item.AluguerID})';return false;">Editar</button>
                <button class="btn btn-default" onclick="location.href='@Url.Action("Delete",new { id = item.AluguerID})';return false;">Eliminar</button>
            }
        </td>
    </tr>
}

</table>
