@model IEnumerable<TrabalhoPW.Models.Aluguer>

@{
    ViewBag.Title = "Validate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Validações</h2>

@if(ViewBag.error!= null) { 
<div class="validation-summary-errors text-danger">
    <ul>
        <li>@ViewBag.error</li>
    </ul>
</div>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Objeto.Tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Requerente.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataIncio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataFim)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Finalidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Requerente.Feedback)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Objeto.Tipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Requerente.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataIncio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataFim)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Finalidade)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Requerente.Feedback)
        </td>
        <td>
            <button class="btn btn-default" onclick="location.href='@Url.Action("Validate",new { id = item.AluguerID})';return false;">Validar</button>
            <button class="btn btn-default" onclick="location.href='@Url.Action("Delete",new { id = item.AluguerID})';return false;">Eliminar</button>
        </td>
    </tr>
}

</table>
