@model TrabalhoPW.Models.Objeto

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalhes</h2>

<div>
    <h4>Objeto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Periodo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Periodo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zona)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zona)
        </dd>

        <dt>
            Origem
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Origem)
        </dd>

        <dt>
            Descrição
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

    </dl>
</div>
<p>
    @if (User.IsInRole("Admin") || User.IsInRole("Especialista"))
    {
      <button class="btn btn-default" onclick="location.href='@Url.Action("Edit", new{ id = Model.ObjID })';return false;">Editar</button>
     }
    <button class="btn btn-default" onclick="location.href='@Url.Action("Index")';return false;">Voltar</button>
</p>
