@model IEnumerable<TrabalhoPW.Models.Objeto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de Objectos</h2>

@if (User.IsInRole("Admin") || User.IsInRole("Especialista"))
{
    <p>
    <button class="btn btn-default" onclick="location.href='@Url.Action("Create")';return false;">Criar Novo Objeto</button>
    </p>
}
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Periodo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zona)
            </th>
            @if (User.IsInRole("Admin") || User.IsInRole("Especialista"))
            {
                <th>
                    @Html.DisplayNameFor(model => model.Origem)
                </th>
            }
            @if (User.Identity.IsAuthenticated) {  
                <th>
                    @Html.DisplayNameFor(model => model.Descricao)
                </th>
            }
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Periodo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zona)
            </td>
            @if (User.IsInRole("Admin") || User.IsInRole("Especialista"))
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Origem)
                </td>
            }
            @if (User.Identity.IsAuthenticated)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
            }
                <td>

                    @if (User.IsInRole("Admin") || User.IsInRole("Especialista"))
                    {
                        <button class="btn btn-default" onclick="location.href='@Url.Action("Edit", new { id = item.ObjID })';return false;">Editar</button>
                        <button class="btn btn-default" onclick="location.href='@Url.Action("Delete", new { id = item.ObjID })';return false;">Remover</button>
                        <button class="btn btn-default" onclick="location.href='@Url.Action("Disp","Tratamentos" ,new { id = item.ObjID }, null)';return false;">Tratamentos</button>
                    }
                    else if (User.IsInRole("Membro"))
                    {
                        <button class="btn btn-default" onclick="location.href='@Url.Action("Disp", new { id = item.ObjID })';return false;">Disponibilidade</button>
                        <button class="btn btn-default" onclick="location.href='@Url.Action("Create", new { id = item.ObjID })';return false;">Criar Aluguer</button>
                    }
                    @if (User.Identity.IsAuthenticated)
                    {
                        <button class="btn btn-default" onclick="location.href='@Url.Action("Details", new { id = item.ObjID })';return false;">Detalhes</button>
                    }


                </td>
        </tr>
        }

    </table>
