@model IEnumerable<TrabalhoPW.Models.Mensagem>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <button class="btn btn-default" onclick="location.href='@Url.Action("Create" )';return false;">Criar Nova</button>
    <br>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RemNome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Conteudo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.data)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.RemNome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Conteudo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.data)
        </td>
        <td>
            <button class="btn btn-default" onclick="location.href='@Url.Action("Details",new { id = item.MensagemID} )';return false;">Detalhes</button>
            <button class="btn btn-default" onclick="location.href='@Url.Action("Create",new { id = item.MensagemID} )';return false;">Responder</button>
        </td>
    </tr>
}

</table>
