@model IEnumerable<TrabalhoPW.Models.Mensagem>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RemNome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Conteudo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.data)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.RemNome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Conteudo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.data)
        </td>
        <td>
            @Html.ActionLink("Detalhes", "Details", new { id = item.MensagemID }) |@Html.ActionLink("Responder", "Create", new { i = item.RemNome})
        </td>
    </tr>
}

</table>
