@model TrabalhoPW.Models.Utilizador

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Utilizador</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NIF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NIF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserID)
        </dd>
        @if (User.IsInRole("Membro"))
        {
            <dd>
                @Html.DisplayFor(model => model.Feedback) %
            </dd>
        }

    </dl>
    <button class="btn btn-default" onclick="location.href='@Url.Action("ChangePassword", "Manage")';return false;">Alterar Password</button>
    <button class="btn btn-default" onclick="location.href='@Url.Action("Edit", new { id= Model.UtilizadorID})';return false;">Editar Perfil</button>
    @if (User.IsInRole("Admin"))
    {
        <button class="btn btn-default" onclick="location.href='@Url.Action("Index")';return false;">Voltar</button>
    }

</div>

