@model IEnumerable<TrabalhoPW.Models.Utilizador>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NIF)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NIF)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Valido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UtilizadorID }) |
            @Html.ActionLink("Details", "Details", new { id=item.UtilizadorID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UtilizadorID })
        </td>
    </tr>
}

</table>
