@model TrabalhoPW.Models.Tratamento

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <h3>Tem a certeza que pretende eliminar?</h3>
    <div>
        <h4>Tratamento</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Objeto.Tipo)
            </dt>
           
            <dd>
                @Html.DisplayFor(model => model.Objeto.Tipo)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Desc)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Desc)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Data)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Data)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Eliminar" class="btn btn-default" /> |
                <button class="btn btn-default" onclick="location.href='@Url.Action("Index")';return false;">Validar</button>
            </div>
        }
    </div>
