@model TrabalhoPW.Models.Tratamento

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div>
        <h4>Tratamento</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Objeto.Tipo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Objeto.Tipo)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Desc)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Desc)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Data)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Data)
            </dd>
    
        </dl>
    </div>
    <p>
        <button class="btn btn-default" onclick="location.href='@Url.Action("Edit", new { id = Model.TratID})';return false;">Editar</button>
        <button class="btn btn-default" onclick="location.href='@Url.Action("Index")';return false;">Voltar</button>
   
    </p>

