@model IEnumerable<TrabalhoPW.Models.Tratamento>

@{
    ViewBag.Title = "Disp";
}

<h2>
    Tratamentos do Objecto
        </h2>


    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Objeto.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Desc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Objeto.Tipo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Desc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Data)
                </td>
                <td>
                    <button class="btn btn-default" onclick="location.href='@Url.Action("Edit",new { id = item.TratID } )';return false;">Editar</button>

                    <button class="btn btn-default" onclick="location.href='@Url.Action("Delete",new { id = item.TratID } )';return false;">Remover</button>
                </td>
            </tr>
        }

    </table>
