@model IEnumerable<TrabalhoPW.Models.Tratamento>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <p>
        @Html.ActionLink("Criar Novo", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Objeto.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Desc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Objeto.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Desc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id=item.TratID }) |
                @Html.ActionLink("Detalhes", "Details", new { id=item.TratID }) |
                @Html.ActionLink("Remover", "Delete", new { id=item.TratID })
            </td>
        </tr>
    }
    
    </table>
